<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="icon" type="image/ico" href="{% static 'img/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/plane.css' %}">
    <script type="text/javascript" src="{% static 'js/paper-full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/js.cookie.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script type="text/x-paperscript" canvas="plane" src="{% static 'js/plane.js' %}"></script> 
  </head>
  <body>
    <div>
      <span>
        {% comment %} Grid {% endcomment %}
        <canvas id="plane"></canvas>
      
        {% comment %} Buttons {% endcomment %}
        <div id="config">
          <button id="run" type="button">اجرا کن</button> 
          <button id="clear_paths" type="button">پاک کردن مسیرها</button>
          <button id="clear_points" type="button">پاک کردن نقاط</button>
          <div style="float:center" align="right">
            <div style="float:left;padding:20px" align="right">
              <p>خروجی کدام الگوریتم نشان داده شود؟</p>
              <input type="radio" id="random_rotation" name="algorithm" value="rnd_rot">
              <label for="random_rotation">Random Rotation</label><br>
              <input type="radio" id="four_permutation" name="algorithm" value="four_perm">
              <label for="four_permutationss">Four Permutation</label><br>
              <input type="radio" id="genetic" name="algorithm" value="genetic">
              <label for="genetic">Genetic</label><br>
              <input type="radio" id="zigzag" name="algorithm" value="zigzag">
              <label for="zigzag">Zigzag</label><br>
            </div>
            <div style="float:left;padding:20px">
              <div>
                <label style="float:right;padding-left:20px">:وزن تقاطع‌های یک مسیر با خودش</label>
                <input style="float:right;margin-bottom:20px" type="number" id="self_intersection_weight" value="5" size="4">
              </div>
              <div>
                <label style="float:right;padding-left:20px">:وزن یال مشترک بین دو مسیر</label>
                <input style="float:right;margin-bottom:20px" type="number" id="shared_edge_weight" value="10" size="4"> 
              </div>
              <div>
                <label style="float:right;padding-left:20px">:وزن تقاطع دو مسیر با یکدیگر</label>
                <input style="float:right" type="number" id="intersection_weight" value="1" size="4"> 
              </div>
            </div>
            <!-- <div style="float:left;padding:20px" align="right">
              <p>از کدام تابع برای ارزیابی راه‌حل‌ها استفاده شود؟</p>
              <input type="radio" id="sum" name="evaluation" value="sum">
              <label for="sum">Sum</label><br>
              <input type="radio" id="weighted_sum" name="evaluation" value="weighted_sum">
              <label for="weighted_sum">Weighted Sum</label><br>
            </div> -->
            <div style="float:left;padding:20px">
              <div>
                <p style="float:right;padding-left:20px">:تعداد تقاطع‌های یک مسیر با خودش</p>
                <p style="float:right" id=self_intersection>-----</p>
              </div>
              <div>
                <p style="float:right;padding-left:20px">:تعداد یال مشترک بین دو مسیر</p>
                <p style="float:right" id=shared_edges>-----</p>
              </div>
              <div>
                <p style="float:right;padding-left:20px">:تعداد تقاطع‌های دو مسیر با یکدیگر</p>
                <p style="float:right" id=intersections>-----</p>
              </div>
              <div>
                <p style="float:right;padding-left:20px">:میزان ناخوانایی</p>
                <p style="float:right" id=final_fitness>-----</p>
              </div>
            </div>
          </div>
        </div>
      </span>
    </div>
  </body>
</html>